---
layout: default
---

<section class="intro">
  <div class="site-wrapper">
    <div class="text">
        <h2>Kyle Ruane <!--<i>(/’roo-eyn/)</i>--></h2>
        <div>
            <p>I’m a multidisciplinary designer from Pittsburgh (by way of the Poconos) specializing in creating interfaces and branding. I also occasionally draw things and have been known to dig into front-end development. Most recently, I handled product design at Cotton Bureau. In the past I co-founded a funded startup, ran an agency specializing in custom WordPress sites, was founding member of a coworking space, was design lead at a mid-sized eCommerce agency, and designed for various clients in a contract/freelance capacity.</p>
        </div>
        <div class="social">
            <ul>
                <li><a href="https://twitter.com/kyleruane"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://dribbble.com/kyleruane"><i class="fa fa-dribbble"></i></a></li>
                <li><a href="https://www.instagram.com/kyleruane/"><i class="fa fa-instagram"></i></a></li>
                <li><a href="https://www.linkedin.com/in/kyleruane/"><i class="fa fa-linkedin"></i></a></li>
            </ul>
        </div>
    </div>
  </div>
</section>

<section class="work">
  <div class="site-wrapper">
    <div class="grid">

        {% assign projects = site.projects | sort: 'date' %}
        {% for projects in site.projects %}
        {% unless projects.category == "collection"%}
        {% unless projects.category == "study"%}

        <a href="{{ site.baseurl }}{{ projects.url }}" class="item {{ projects.size }}">
            <figure class="background" style="background-image:url({{site.project_img_path}}{{ projects.backdrop }});">
                {% if projects.thumb %}<div class="feature" style="background-image:url({{site.project_img_path}}{{ projects.thumb }});"></div>{% endif %}
                <div class="overlay">
                    <h5>
                      <span>{{ projects.title }}</span>
                      <div class="pointer"></div>
                    </h5>
                </div>
            </figure>
        </a>

        {% endunless %}
        {% endunless %}
        {% endfor %}

    </div>
  </div>
</section>
