---
layout: default
---

<section class="intro">
    <div class="line"></div>
    <div class="text">
        <h3>Kyle Ruane <i>/’roo-eyn/</i></h3>
        <div>
            <p>I’m a multidisciplinary designer from the Poconos specializing in interfaces and branding. By proxy, I also an accidental front-end dev, occasional brand strategist, and illustrator when needed. I am currently working on making the most approachable website publishing platform, and also partnering with clients and colleagues, providing various design solutions.</p>
        </div>
    </div>
</section>

<section class="work">
    <div class="grid">

        {% assign projects = site.projects | sort: 'date' %}
        {% for projects in site.projects %}
        {% unless projects.category == "collection"%}
        {% unless projects.category == "study"%}

        <a href="{{ site.baseurl }}{{ projects.url }}" class="item {{ projects.size }}">
            <figure class="background">
                <div class="feature"></div>
                <div class="overlay">
                    <h5>{{ projects.title }}</h5>
                </div>
                <div class="image-placeholder bg"><img src="{{site.project_img_path}}{{ projects.backdrop }}"></div>
                <div class="image-placeholder thumb"><img src="{{site.project_img_path}}{{ projects.thumb }}"></div>
            </figure>
        </a>
        {% endunless %}
        {% endunless %}
        {% endfor %}
        
    </div>
</section>

<section class="collections">
    <h4>Collections</h4>
    <ul>
        {% for projects in site.projects %}
        {% if projects.category == "collection"%}

        <li><a href="{{ site.baseurl }}{{ projects.url }}">{{ projects.title }}</a></li>

        {% endif %}
        {% endfor %}
    </ul>
</section>

<section class="outro">
    <div class="headline">
        <h2>Hire Me</h2>
    </div>
    <div class="text">
        <div>
            <p>I am available for contract production or consulting work—as an extension of your product team, backup on agency projects, or your one-man design department. I can help plan your application or website, define its users, map out interactions, or give it the visual detail needed to set it apart, delivering any number of a variety of assets—from wireframes and user flow charts, to prototypes, to artwork source files, to code.</p>
            
            <h4><a href="{{ site.baseurl }}/hire">Read more about my capabilities</a></h4>
        </div>
    </div>
</section>