.blog {
	padding: 30px 0 120px;
	@include sm {
		padding-top: 0;
	}
	> .container {
		padding: 0;
		@include sm {
			display: flex;
			flex-direction: row;
		}
	}
	header {
		flex-basis: 25%;
		@include sm {
			padding-right: 24px;
		}
		@include md {
			padding-right: 30px;
		}
		@include lg {
			padding-right: 40px;
		}
		@include xl {
			padding-right: 50px;
		}
	}
	.content {
		flex-basis: 75%;
		margin: 0 auto;
		margin-top: -20px;
		@include sm {
			margin-top: -18px;
		}
		@include md {
			margin-top: -30px;
		}
		@include lg {
			margin-top: -30px;
		}
		.line {
			margin: 0;
		}
	}
	.article {
		padding: 24px 0;
		position: relative;
		border-bottom: $border-style;
		display: block;
		@include sm {
			padding: 20px 0;
		}
		@include md {
			padding: 40px 0;
		}
		h3 {
			font-size: 11px;
			line-height: 1.25;
			margin: 0;
			font-weight: 700;
			word-spacing: 3px;
			@include sm {
				font-size: 16px;
				padding-right: calc(33.333333% + 40px);
			}
			@include md {
				font-size: 22px;
			}
		}
		.meta {
			margin-top: 3px;
			color: transparentize($text-light, .15);
			font-size: 11px;
			@include md {
				width: 33.333333%;
				position: absolute;
				font-size: 12px;
				right: 0;
				top: 42px;
				//text-align: right;
				margin: 0;
				padding-left: 30px;
			}
			@include lg {
				padding-left: 40px;
			}
		}
	}
	article {
		margin-bottom: 60px;
		@include sm {
			margin-bottom: 140px;
		}
		&:last-of-type {
			margin-bottom: 0;
		}
		&.post {
			max-width: 800px;
			margin-top: 20px;
			@include md {
				font-size: 17px;
			}
			p {
				line-height: 1.9;
				@include md {
					font-size: 17px;
					margin-bottom: 32px;
				}
			}
		}
		.text {
			@include make-md-column(8);
			@include lg {
				padding-right: 80px;
			}
			p {
				line-height: 1.9;
				@include md {
					font-size: 17px;
				}
			}
		}
		h3 {
			font-size: 24px;
			font-weight: 500;
			margin-bottom: 40px;
			margin-top: 0;
			@include sm {
				font-size: 34px;
				margin-bottom: 50px;
			}
		}
		.meta {
			position: relative;
			margin-top: 36px;
			padding-top: 34px;
			&:after {
				content: " ";
				display: block;
				width: 32px;
				height: 3px;
				background: transparentize($border-color, .3);
				position: absolute;
				top: 0;
				left: 0;
			}
			.author, .date {
				font-family: $font-title;
				font-weight: 300;
				font-size: 14px;
				@include xs {
					display: block;
				}
			}
		}
	}
	.pagination {
		margin: 68px 0 60px;
		@include sm {
			padding: 0 20px;
		}
		a {
			font-size: 14px;
			padding: 4px 20px;
			border-right: $border-style;
			&:first-child {
				padding-left: 0;
			}
			&:last-child {
				padding-right: 0;
				border: none;
			}
		}
	}
	.more-link {
		display: inline-block;
		margin: 120px 0 60px;
		color: $text-color;
	}
	.blog-title {
		font-size: 12px;
		font-weight: 700;
		margin: 0 0 20px;
		@include sm {
			font-size: 18px;
			//display: none;
		}
		@include md {
			font-size: 20px;
		}
		@include lg {
			font-size: 22px;
		}
		span {
			display: none;
			@include sm {
				display: inline;
			}
		}
	}
}

.blog-nav {
	height: 128px;
	display: none;
	@include sm {
		height: 68px;
	}
}
.post {
	> .container {
		padding: 0;
		@include md {
			padding-left: 25%;
		}
	}
	.feature {
		margin-bottom: 20px;
		@include sm {
			margin-bottom: 24px;
		}
		@include md {
			margin-bottom: 34px;
		}
		&.nope {
			margin: 0;
			@include sm {
				margin: 0;
			}
			@include md {
				margin: 0;
			}
		}
	}
	article {
		//max-width: 666px;
		//margin: 0 auto 100px;
		@include sm {
			margin-bottom: 200px
		}
		@include md {
			max-width: 64%;
		}
		header {
			margin-bottom: 40px;
			@include sm {
				margin-bottom: 68px;
			}
			h2 {
				font-weight: 700;
				font-size: 16px;
				margin-top: 0;
				@include sm {
					font-size: 40px;
				}
				@include md {
					font-size: 48px;
				}
			}
		}
		.meta {
			color: transparentize($text-light, .15);
			font-size: 12px;
			margin-bottom: 14px;
			@include sm {
				font-size: 13px;
				margin-bottom: 26px;
			}
		}
		h2,h3,h4 {
			margin: 0 0 36px;
			font-weight: 700;
		}
		h2 {
			font-size: 16px;
			@include sm {
				font-size: 24px;
			}
		}
		h3 {
			font-size: 14px;
			@include sm {
				font-size: 16px;
			}
		}
		h4 {
			@include sm {
				font-size: 15px;
			}
			@include md {
				font-size: 18px;
			}
			@include lg {
				font-size: 22px;
			}
		}
		a {
			color: #111;
			font-weight: 600;
			border-bottom: $border-style;
		}
		ul, ol {
			margin: 36px 0 40px;
			li {
				line-height: 1.6;
				padding: 4px 0;
			}
		}
		blockquote {
			margin: 40px 0 42px;
			padding: 32px 0;
			border: none;
			border-top: $border-style;
			border-bottom: $border-style;
		}
		hr {
			margin: 40px 0;
		}
	}
	.images {
		@include clearfix();
	    margin: 20px auto;
	    @include sm {
	    	margin: 68px -10px 40px;
	    }
		p {
			margin-bottom: 20px;
			@include sm {
				margin: 0;
			}
		}
		img {
			@include sm {
				border: 10px solid white;
			}
		}
		.half {
			@include sm {
				width: 50%;
				float: left;
			}
		}
		.third {
			@include sm {
				width: 50%;
				float: left;
			}
			@include lg {
				width: 33.333333%;
			}
		}
	}
	.text {
		@include make-row();
		padding: 80px 0 80px;
		max-width: 900px;
		margin: 0 auto;
		@include sm {
			padding: 0 20px 120px;
		}
		.wrapper {
			border-top: $border-style;
			padding-top: 40px;
		}
		article {
			@include make-md-column(8);
			max-width: 666px;
			margin: 0 auto 60px;
			font-size: 15px;
			@include sm {
				font-size: 16px;
			}
			@include md {
				//float: right;
			}
			@include md {
				max-width: 100%;
			}
			h2 {
				margin-top: 52px;
			}
			header {
				h2 {
					margin-top: 0;
					font-weight: 500;
				}
			}
			p {
				font-size: 12px;
				@include sm {
					font-size: 13px;
				}
				@include md {
					font-size: 14px;
				}
			}
			* {
				&:first-child {
					margin-top: 0;
				}
			}
		}
		aside {
			@include make-md-column(4);
			max-width: 666px;
			margin: 0 auto;
			@include md {
				max-width: 100%;
				padding-left: 30px;
			}
			@include lg {
				padding-left: 40px;
			}
			@include xl {
				padding-left: 50px;
			}
			.sidebar {
				@include make-sm-column(6);
				@include make-md-column(12);
				font-size: 15px;
				margin-bottom: 40px;
				@include sm {
					margin-bottom: 20px;
				}
			}
			h2,h3,h4 {
				margin: 0 0 28px;
				font-weight: 700;
			}
			h2 {
				font-size: 20px;
				@include sm {
					font-size: 20px;
				}
				&:first-child {
					margin-top: 0;
				}
			}
			h3 {
				font-size: 18px;
				@include sm {
					font-size: 18px;
				}
				&:first-child {
					margin-top: 0;
				}
			}
			h4 {
				font-size: 14px;
				@include sm {
					font-size: 13px;
				}
				@include md {
					font-size: 15px;
				}
				&:first-child {
					margin-top: 0;
				}
			}
			a {
				color: #111;
				font-weight: 600;
				border-bottom: $border-style;
			}
			ul, ol {
				margin: 20px 0 26px;
				list-style: none;
				padding: 0;
				li {
					line-height: 1.5;
					padding: 4px 0;
				}
			}
			p {
				font-size: inherit;
			}
		}
	}
	&.profile {
		.feature {
			@include xs {
				display: none;
			}
		}
	}
}
