.site-footer {
	padding: 20px 0;
	@include sm {
		font-size: 12px;
		text-align: right;
		padding: 36px 0 24px;
	}
	.footer-wrapper {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin: 0;
	}
	#top {
		font-size: 11px;
		border-bottom: 1px solid #e8e8e8;
		@include sm {
			font-size: 12px;
			text-align: right;
		}
	}
	.copyright {
		font-size: 11px;
		color: lighten($text-color, 10%);
		text-align: center;
		flex-grow: 1;
		@include sm {
			font-size: 12px;
			text-align: right;
		}
	}
}
