.site-footer {
	box-shadow: 0 -1px 0 0 #e8e8e8;
	padding: 16px 0;
	margin-top: 40px;
	@include sm {
		margin-top: 60px;
	}
	@include md {
		margin-top: 80px;
	}
	.container {
		@include sm {
			padding: 0;
		}
		@include md {
			//padding: 20px 0;
			//padding: 0;
		}
	}
	.copyright {
		@include make-sm-column(6);
		font-size: 11px;
		font-weight: 300;
		color: lighten($text-color, 30%);
		padding-top: 8px;
		text-align: center;
		@include sm {
			font-size: 12px;
			text-align: right;
		}
		p {
			margin-bottom: 0;
			font-size: inherit;
		}
	}
	.social {
		@include make-sm-column(6);
		ul {
			@extend .nav;
			@extend .navbar;
			min-height: 0;
			margin: 10px 0 12px;
			text-align: center;
			@include sm {
				//.pull-right;
			}
			> li {
				display: inline-block;
				@include sm {
					float: left;
				}
				> a {
					line-height: 1.2;
					padding: 0 10px;
					&:hover {
						background: none;
					}
				}
				&:first-child {
					> a {
						@include sm {
							padding-left: 0;
						}
					}
				}
			}
		}
	}
}
