.site-header {
	background: none;
	border-radius: 0;
	position: relative;
	//margin-bottom: 40px;
	@include md {
		//margin-bottom: 30px;
	}
	.logo {
		display: block;
		height: 22px;
		width: 22px;
		background-image: url(../images/logo.svg);
		background-position: center center;
		background-repeat: no-repeat;
		background-size: 14px auto;
		border: 2px solid black;
		flex-grow: 0;
		flex-shrink: 0;
		@include sm {
			height: 28px;
			width: 28px;
			background-size: 15px auto;
			border: 2px solid black;
			margin-top: -3px;
		}
	}
	.header-wrap {
		//@extend .site-wrapper;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
		border-bottom: 1px solid #e8e8e8;
		padding-top: 18px;
		padding-bottom: 20px;
		position: relative;
		z-index: 23;
		@include sm {
			border-top: 1px solid #e8e8e8;
    	padding-top: 20px;
			padding-bottom: 48px;
			margin-top: 22px;
    }
    @include md {
    	padding-top: 24px;
			padding-bottom: 52px;
			margin-top: 26px;
    }
		@include lg {
    	padding-top: 30px;
			padding-bottom: 64px;
			margin-top: 34px;
    }
		@include xl {
			padding-bottom: 80px;
    }
	}
	.branding {
		flex-basis: 25%;
		flex-shrink: 0;
		flex-grow: 0;
		h1 {
			font-size: 16px;
			margin-top: 0;
			font-weight: 700;
			line-height: .875;
			text-transform: none;
			letter-spacing: normal;
			@include sm {
				font-size: 16px;
			}
			@include md {
				font-size: 20px;
			}
			@include lg {
				font-size: 22px;
			}
		}
		.social {
			ul {
				list-style: none;
				display: flex;
				padding: 0;
				margin: 24px 0 0;
				@include sm {
					margin: 18px 0 0;
				}
				@include md {
					margin: 24px 0 0;
				}
				li {
					height: 16px;
					width: 16px;
					margin-right: 8px;
					@include sm {
						height: 14px;
						width: 14px;
						margin-right: 6px;
					}
					@include md {
						height: 16px;
						width: 16px;
						margin-right: 8px;
					}
					a {
						display: block;
						height: 16px;
						width: 16px;
						color: #777;
						transition: all .4s;
						@include sm {
							height: 14px;
							width: 14px;
						}
						@include md {
							height: 16px;
							width: 16px;
						}
						@include sm {
							color: #aaa;
							&:hover {
								color: #777;
							}
						}
						i {
							display: block;
						}
					}
				}
			}
		}
	}
	.main-nav {
		flex-basis: 75%;
		flex-shrink: 0;
		flex-grow: 0;
		display: none;
		@include sm {
			display: block;
		}
		> ul {
			margin: 0;
			padding: 0;
			list-style: none;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			@include sm {
				width: calc(100% + 24px);
				margin-left: -12px;
			}
			@include md {
				width: calc(100% + 30px);
				margin-left: -15px;
			}
			@include lg {
				width: calc(100% + 40px);
				margin-left: -20px;
			}
			@include xl {
				width: calc(100% + 60px);
				margin-left: -30px;
			}
			> li {
				@include sm {
					width: 33.333333%;
					padding: 0 12px;
					margin-bottom: 18px;
					&:nth-child(4), &:nth-child(5), &:nth-child(6) {
						margin-bottom: 0;
					}
				}
				@include md {
					padding: 0 15px;
					margin-bottom: 22px;
					&:nth-child(4), &:nth-child(5), &:nth-child(6) {
						margin-bottom: 0;
					}
				}
				@include lg {
					padding: 0 20px;
					margin-bottom: 26px;
					&:nth-child(4), &:nth-child(5), &:nth-child(6) {
						margin-bottom: 0;
					}
				}
				@include xl {
					padding: 0 30px;
				}
				> a {
					padding: 0;
				}
				h5 {
					@include heading;
					font-size: 14px;
					margin-top: 0;
					font-weight: 700;
					text-transform: none;
					letter-spacing: normal;
					@include sm {
						font-size: 12px;
						margin-bottom: 5px;
					}
					@include md {
						font-size: 14px;
						margin-bottom: 8px;
					}
					span {
						display: inline-block;
						position: relative;
					}
				}
				p {
					font-family: $font-copy;
					text-transform: none;
					letter-spacing: normal;
					font-size: 11px;
					margin-bottom: 0;
					//font-weight: 300;
					color: lighten($text-light, 10%);
					line-height: 1.4;
					display: none;
					@include sm {
						font-size: 10px;
						display: block;
					}
					@include md {
						font-size: 11px;
					}
				}
				&.active {
					&:before {
						display: none;
					}
					&:after {
						display: none;
					}
					h5 {
						span {
							&:after {
								content: "";
								display: block;
								height: 1px;
								width: 24px;
								background: $text-light;
								position: absolute;
								top: 50%;
								margin-top: 0px;
								left: calc(100% - 8px);
								opacity: .3;
							}
						}
					}
				}
			}
		}
	}
}
.nav-toggle {
	@extend .navbar-toggle;
	position: absolute;
	top: 0px;
	right: -20px;
	float: none;
	margin: 10px 8px;
	padding: 14px 12px;
	border: none;
	border-radius: 0;
	display: block;
	z-index: 24;
	@media (min-width: 768px) {
		display: none;
	}
	.icon-bar {
		background: #222;
		position: relative;
		height: 2px;
		@include transition(all .2s);
	}
	&.active {
		.icon-bar {
			&:nth-of-type(2) {
				top: 6px;
				@include rotate(45deg);
			}
			&:nth-of-type(3) {
				background-color: transparent;
			}
			&:nth-of-type(4) {
				top: -6px;
				@include rotate(-45deg);
			}
		}
	}
}
.mobile-menu {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: white;
	padding: 18px 20px 22px;
	z-index: 22;
	.mobile-logo {
		display: none;
		width: 24px;
		height: 24px;
		margin: 0 0 0 1px;
		padding: 0;
		img {
			display: none;
		}
	}
	ul {
		margin-top: 24px;
		padding: 0;
		list-style: none;
		li {
			//@include heading;
			//text-align: center;
			&.active {
				a {
					text-decoration: line-through;
					color: #d2d2d2;
				}
			}
			a {
				text-decoration: none;
				color: #111;
				padding: 24px 0;
				display: block;
				border-bottom: 1px solid #e8e8e8;
			}
			h5 {
				margin-top: 0;
				margin-bottom: 6px;
				font-size: 16px;
			}
			p {
				font-size: 11px;
				line-height: 1.5;
				color: lighten($text-light, 15%);
				margin: 0;
			}
		}
	}
	@include xs {
		&.active {
			display: block;
		}
	}
}
.placeholder {
	height: 60px;
	@include sm {
		//height: 68px;
	}
	&.project {
		height: 120px;
	}
	&.study {
		height: 100px;
	}
}
