.outro {
	padding: 100px 20px 50px;
	@include clearfix();
	@include sm {
		padding: 160px 48px 100px;
	}
	@include md {
		padding: 200px 68px;
	}
	.text {
		font-size: 13px;
		@include sm {
			width: 66.666666%;
			float: right;
			padding-top: 6px;
			font-size: 14px;
		}
		@include md {
			width: 50%;
			font-size: 15px;
		}
		p {
			font-size: inherit;
		}
	}
	.headline {
		position: relative;
		font-size: 13px;
		&:before {
			content: "";
			display: none;
			width: calc(100% - 24px);
			height: 1px;
			background: $border-color;
			position: absolute;
			top: 20px;
			right: 24px;
			@include sm {
				display: block;
			}
		}
		@include sm {
			width: 33.333333%;
			float: left;
			padding: 0 20px 0 0;
			font-size: 14px;
		}
		@include md {
			width: 50%;
			font-size: 15px;
		}
		p {
			font-size: inherit;
		}
		h2 {
			margin-top: 0;
			display: inline-block;
			padding: 0;
			font-size: 22px;
			background: white;
			position: relative;
			margin-bottom: 24px;
			line-height: .8;
			letter-spacing: .01em;
			@include sm {
				padding: 0 20px;
				font-size: 40px;
			}
			@include md {
				font-size: 52px;
			}
			@include lg {
				font-size: 64px;
			}
		}
	}
	h4 {
		font-size: 11px;
		font-weight: 400;
		margin: 0 0 32px;
		font-family: $font-nav;
		margin-top: 30px;
		@include sm {
			font-size: 13px;
			margin-top: 36px;
		}
		a {
			border-bottom: 1px solid #e8e8e8;
		}
	}
	a {
		//font-size: 18px;
		//font-weight: 600;
	}
}
.solutions {
	padding: 30px 0;
	@include sm {
		padding: 0;
	}
	figure {
		border-bottom: $border-style;
		padding: 60px 20px 40px;
		@include clearfix();
		@include sm {
			padding: 80px 60px;
		}
		@include lg {
			padding: 140px 88px;
		}
		&:nth-child(odd) {
			background: transparentize($gray-bg, .3);
		}
		&:first-child {
				border-top: $border-style;
		}
		section {
			@include make-md-column(6);
			&:first-of-type {
				@include md {
					padding-right: 60px;
				}
				@include xs {
					margin-bottom: 36px;
				}
			}
			h6 {
				font-size: 10px;
				font-weight: 400;
				margin: 10px 0 12px;
				font-family: $font-nav;
				text-transform: uppercase;
				color: #222;
				@include sm {
					font-size: 12px;
					margin: 10px 0 24px;
				}
			}
			h4 {
				font-size: 38px;
				margin-bottom: 28px;
				line-height: .9;
				letter-spacing: .01em;
				@include sm {
					font-size: 36px;
				}
				@include md {
					font-size: 48px;
				}
				@include lg {
					font-size: 60px;
				}
			}
			p {
				font-size: 13px;
				@include sm {
					font-size: 14px;
				}
				@include md {
					font-size: 15px;
				}
			}
			.need, .solution {
				margin-bottom: 40px;
				&:last-child {
					margin-bottom: 0;
				}
				h6 {
					@include xs {
						//font-size: 14px;
						margin-bottom: 22px;
					}
				}
			}
		}
	}
}
