.intro {
	padding: 0;
	position: relative;
	overflow: hidden;
	border-bottom: 1px solid #e8e8e8;
	@include sm {
	}
	@include md {
		padding: 160px 25%;
	}
	@include xxl {
	}
	.text {
		font-size: 14px;
		@include sm {
			//width: 66.666666%;
		}
		@include md {
			//width: 50%;
		}
		@include md {
			font-size: 15px;
		}
	}
	h2 {
		font-size: 40px;
		margin: 0 0 10px;
		font-weight: 600;
		@include sm {
			font-size: 68px;
		}
	}
	h3 {
		font-size: 24px;
		font-weight: 700;
		margin: 0 0 24px;
		text-shadow: 0 0 10px transparentize(white, .50);
		font-family: $font-copy;
		text-transform: none;
		letter-spacing: normal;
		@include sm {
			font-size: 32px;
		}
		i, em {
			font-weight: 500;
			font-size: 18px;
			color: lighten($text-light, 40%);
			@include sm {
				font-size: 28px;
			}
		}
	}
	h5 {
		font-weight: 700;
		font-size: 14px;
		margin-top: 30px;
		color: lighten($text-light, 10%);
		@include sm {
			font-size: 15px;
		}
		@include md {
			font-size: 16px;
		}
		i, em {
			font-weight: 500;
			font-size: 17px;
			color: lighten($text-light, 30%);
			font-family: $font-copy;
			letter-spacing: .35px;
			text-transform: none;
			letter-spacing: normal;
			@include sm {
				font-size: 19px;
			}
		}
		a {
			position: relative;
			&:before {
				content: "";
				display: block;
				width: 1px;
				height: 30px;
				background: #ddd;
				position: absolute;
				top: 100%;
				margin-top: 12px;
				left: 8px;
			}
			&:after {
				content: "";
				display: block;
				width: 9px;
				height: 9px;
				border: solid #ccc;
				border-width: 0 1px 1px 0;
				@include rotate(45deg);
				position: absolute;
				top: 100%;
				margin-top: 33px;
				left: 4px;
			}
		}
	}
	cite {
		display: block;
		color: $text-light;
		font-style: italic;
		padding-left: 8px;
	}
	hr {
		margin: 40px 0;
		@include sm {
			margin: 50px 0 60px;
		}
	}
	p {
		text-shadow: 0 0 10px transparentize(white, .50);
		a {
			color: #222;
			border-bottom: $border-style;
			font-weight: 600;
		}
	}
	&.hireme {
		@include sm {
			//background-image: url(../images/axe.jpg);
		}
	}
}
