.intro {
	padding: 80px 0 80px;
	min-height: 400px;
	@include clearfix();
	position: relative;
	overflow: hidden;
	@include sm {
		padding: 80px 0 80px;
	}
	@include md {
		padding: 100px 0 100px;
	}
	@include md {
		padding: 100px 0 140px;
	}
	.text {
		font-size: 14px;
		@include sm {
			float: left;
			width: 66.666666%
		}
		@include md {
			width: 50%;
		}
		@include lg {
			//padding-left: 20px;
			font-size: 16px;
		}
	}
	h2 {
		font-size: 24px;
		margin: 0 0 22px;
		@include sm {
			font-size: 28px;
			margin-bottom: 20px;
		}
		@include md {
			font-size: 36px;
			margin-bottom: 26px;
		}
		@include lg {
			font-size: 40px;
			margin-bottom: 30px;
		}
	}
	h3 {
		font-size: 40px;
		font-weight: 400;
		margin: 0 0 18px;
		//text-shadow: 0 0 10px transparentize(white, .50);
		//font-family: $font-copy;
		//text-transform: none;
		letter-spacing: normal;
		@include sm {
			font-size: 80px;
			margin: 0 0 24px;
		}
		@include md {
			font-size: 100px;
		}
		@include lg {
			font-size: 120px;
		}
		i, em {
			font-weight: 500;
			font-size: 18px;
			color: lighten($text-light, 40%);
			@include sm {
				font-size: 28px;
			}
		}
	}
	h5 {
		font-weight: 300;
		font-size: 13px;
		margin-top: 30px;
		//color: $text-light;
		//letter-spacing: 1.5px;
		letter-spacing: normal;
		font-family: $font-nav;
		margin-bottom: 14px;
		text-transform: none;
		@include sm {
			font-size: 16px;
			margin-bottom: 18px;
		}
		@include md {
			font-size: 18px;
			margin-bottom: 24px;
		}
		@include lg {
			font-size: 19px;
			margin-bottom: 30px;
		}
		i, em {
			font-weight: 300;
			font-size: 13px;
			color: lighten($text-light, 10%);
			font-family: $font-copy;
			letter-spacing: .15px;
			text-transform: none;
			letter-spacing: normal;
			@include sm {
				font-size: 15px;
				margin-left: 3px;
			}
		}
		em {
			color: $text-light;
			font-size: 13px;
			font-style: normal;
			@include sm {
				font-size: 18px;
				margin-left: 0;
			}
		}
		a {
			font-weight: 600;
			border-bottom: 1px solid #e8e8e8;
			@include sm {
				font-size: 15px;
			}
			@include md {
				font-size: 16px;
			}
			@include lg {
				font-size: 16px;
			}
		}
	}
	cite {
		display: block;
		color: $text-light;
		font-style: italic;
		padding-left: 8px;
	}
	hr {
		margin: 40px 0;
		@include sm {
			margin: 30px 0 40px;
		}
		@include md {
			margin: 40px 0 50px;
		}
		@include lg {
			margin: 50px 0 60px;
		}
	}
	p {
		font-size: 13px;
		@include sm {
			line-height: 1.7;
			font-size: 14px;
		}
		@include md {
			font-size: 15px;
		}
		@include lg {
			font-size: 15px;
		}
		a {
			color: #222;
			border-bottom: $border-style;
			font-weight: 600;
		}
	}
	&.hireme {
		@include sm {
			//background-image: url(../images/axe.jpg);
		}
		.text {
			h3 {
				margin-top: 36px;
				line-height: .9;
			}
		}
	}
	.social {
		margin-top: 20px;
		@include sm {
			margin-top: 24px;
		}
		@include md {
			margin-top: 26px;
		}
		@include lg {
			margin-top: 30px;
		}
		ul {
			list-style: none;
			padding: 0;
			display: flex;
			flex-direction: row;
			width: calc(100% + 12px);
			margin-left: -6px;
			li {
				padding: 0 6px;
				i {
					font-size: 16px;
					@include sm {
						font-size: 18px;
					}
				}
			}
		}
	}
}
