.single {
	@include sm {
		padding-right: 52px;
		padding-top: 24px;
	}
	@include md {
		padding-right: 56px;
		padding-top: 42px;
	}
	&.project {
		@include sm {
			padding-right: 0;
			padding-top: 80px;
		}
		@include lg {
			padding-top: 120px;
		}
	}
	&.study {
		padding: 0 0 60px;
		@include sm {
			padding: 0 0 60px;
		}
		@include md {
			padding: 0 0 60px;
		}
		@include xl {
			padding: 0 0 60px;
		}
	}
	&.contact-form {
		@include sm {
			padding-right: 0;
		}
		@include md {
			padding-right: 0;
		}
	}
}
.project-intro {
	overflow: hidden;
	font-size: 13px;
	max-width: 1400px;
	position: relative;
	margin: 0 auto 30px;
	padding: 0 20px;
	@include sm {
		font-size: 13px;
		display: flex;
		margin-bottom: 80px;
	}
	@include md {
		font-size: 14px;
		padding: 0 30px;
		margin-bottom: 120px;
	}
	@include lg {
		padding: 0 40px;
		margin-bottom: 140px;
	}
	header {
		margin-bottom: 20px;
		@include sm {
			flex-basis: 40%;
			flex-grow: 0;
			flex-shrink: 0;
			padding-right: 40px;
		}
		@include md {
			flex-basis: 50%;
			padding-right: 50px;
		}
		time {
			font-weight: 400;
			color: lighten($text-light, 10%);
			font-style: italic;
			margin: 0 0 12px;
			font-size: 11px;
			padding-left: 1px;
			@include md {
				font-size: 13px;
				padding-left: 3px;
			}
		}
		h2 {
			text-align: left;
			margin-top: 0;
			max-width: 100%;
			font-family: $font-title;
			font-size: 20px;
			margin-bottom: 0;
			letter-spacing: normal;
			@include sm {
				font-size: 26px;
				margin-bottom: 3px;
			}
			@include md {
				font-size: 30px;
				margin-bottom: 4px;
			}
			@include lg {
				font-size: 36px;
				margin-bottom: 6px;
			}
			i {
				font-size: 16px;
				color: transparentize($text-light, .6);
				margin-left: 6px;
				font-weight: 400;
				@include sm {
					font-size: 16px;
				}
			}
		}
	}
	article {
		@include sm {
			flex-basis: 60%;
			flex-grow: 0;
			flex-shrink: 0;
		}
		@include md {
			flex-basis: 50%;
		}
	}
	p {
		font-size: inherit;
		line-height: 1.6;
		@include md {
			//line-height: 1.7;
			font-size: 14px;
		}
		@include lg {
			//line-height: 1.7;
			font-size: 15px;
		}
	}
	time {
		font-style: italic;
		font-family: $font-copy;
		font-weight: 400;
		color: transparentize($text-light, .2);
		font-size: 12px;
		@include md {
			font-size: 13px;
		}
	}
	a {
		font-weight: 400;
		color: #111;
		border-bottom: $border-style;
	}
	ul {
		list-style: none;
		padding: 0;
		margin-top: 18px;
		@include sm {
			margin-top: 36px;
		}
		@include md {
			margin-top: 40px;
		}
		li {
			line-height: 1.7;
			padding: 4px 0;
		}
	}
}
.project-content {
	margin-bottom: 60px;
	section {
		padding: 60px 0;
		overflow: hidden;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		@include sm {
			padding: 80px 0;
		}
		@include md {
			padding: 100px 0;
		}
		@include lg {
			padding: 120px 0;
		}
		&.grayed {
			background: #f1f1f1;
			padding: 60px 0;
			@include sm {
				padding: 80px 0;
			}
			@include md {
				padding: 100px 0;
			}
			@include lg {
				padding: 120px 0;
			}
			&.dark {
				background: #222;
			}
			&.light {
				background: #f5f5f5;
			}
		}
		main {
			max-width: 1400px;
			position: relative;
			margin: 0 auto;
			padding: 0 20px;
			@include md {
				padding: 0 30px;
			}
			@include lg {
				padding: 0 40px;
			}
		}
		&.tight {
			figure, .arrangement {
				& + figure, & + .arrangement {
					margin-top: 20px;
					@include sm {
						margin-top: 20px;
					}
					@include md {
						margin-top: 30px;
					}
					@include lg {
						margin-top: 40px;
					}
				}
			}
		}
	}
	figure {
		background-position: top center;
		background-size: cover;
		background-repeat: no-repeat;
		&.raised {
			box-shadow: 0 4px 8px 0 transparentize(black, .95), 0 12px 30px 0 transparentize(black, .94);
			&.dark {
				box-shadow: 0 4px 8px 0 transparentize(black, .88), 0 12px 30px 0 transparentize(black, .88);
			}
			&.light {
				box-shadow: 0 3px 6px 0 transparentize(black, .96), 0 10px 24px 0 transparentize(black, .96);
			}
		}
		> img  {
			opacity: 0;
			visibility: hidden;
		}
		&.faded {
			position: relative;
			&:after {
				content: "";
				display: none;
				height: 220px;
				width: calc(100% + 50px);
				background: linear-gradient(transparentize(white, 1),transparentize(white, 1),white,white);
				position: absolute;
				left: -25px;
				bottom: -35px;
				@include sm {
					display: block;
				}
			}
			&.gray-fade {
				&:after {
					background: linear-gradient(transparentize(#f1f1f1, 1),transparentize(#f1f1f1, 1),#f1f1f1,#f1f1f1);
				}
			}
		}
		& + article, & + figure, & + .arrangement {
			margin-top: 50px;
			@include sm {
				margin-top: 72px;
			}
			@include md {
				margin-top: 100px;
			}
		}
	}
	article {
		display: flex;
		.text-wrapper {
			p {
				font-size: 13px;
				line-height: 1.6;
				@include md {
					font-size: 14px;
				}
				@include lg {
					font-size: 15px;
				}
				&:last-child {
					margin-bottom: 0;
				}
			}
			a {
				font-weight: 500;
				border-bottom: 1px solid transparentize($text-color, .8);
			}
			.links {
				text-align: center;
				line-height: 2;
				.divider {
					color: #ccc;
					margin: 0 4px;
					display: none;
					@include sm {
						display: inline;
					}
				}
				br {
					@include sm {
						display: none;
					}
				}
			}
		}
		&.centered {
			justify-content: center;
			.text-wrapper {
				max-width: 600px;
			}
		}
		&.split {
			justify-content: center;
			.text-wrapper {
				display: flex;
				flex-direction: column;
				@include sm {
					flex-direction: row;
					@include sm {
						width: calc(100% + 20px);
						margin-left: -10px;
					}
					@include md {
						width: calc(100% + 30px);
						margin-left: -15px;
					}
					@include lg {
						width: calc(100% + 40px);
						margin-left: -20px;
					}
				}
			}
			.text-block {
				@include sm {
					flex-basis: calc(50% - 20px);
					flex-grow: 0;
					flex-shrink: 0;
					margin: 0 10px;
				}
				@include md {
					flex-basis: calc(50% - 30px);
					margin: 0 15px;
				}
				@include lg {
					flex-basis: calc(50% - 30px);
					margin: 0 20px;
				}
				h3 {
					margin-top: 0;
					margin-bottom: 22px;
					font-size: 16px;
					@include sm {
						font-size: 20px;
					}
				}
			}
		}
		& + figure, & + .arrangement, & + article {
			margin-top: 50px;
			@include sm {
				margin-top: 72px;
			}
			@include md {
				margin-top: 100px;
			}
		}
	}
	.arrangement {
		display: flex;
		flex-direction: column;
		align-items: center;
		@include sm {
			flex-direction: row;
		}
		&.duo {
			@include sm {
				width: calc(100% + 20px);
				margin-left: -10px;
			}
			@include md {
				width: calc(100% + 30px);
				margin-left: -15px;
			}
			@include lg {
				width: calc(100% + 40px);
				margin-left: -20px;
			}
			figure {
				@include sm {
					flex-basis: calc(50% - 20px);
					flex-grow: 0;
					flex-shrink: 0;
					margin: 0 10px;
				}
				@include md {
					flex-basis: calc(50% - 30px);
					margin: 0 15px;
				}
				@include lg {
					flex-basis: calc(50% - 40px);
					margin: 0 20px;
				}
			}
			&.cb-pdp-options {
				justify-content: center;
				flex-wrap: wrap;
				@include xxxl {
					width: calc(100% + 800px);
    			margin-left: -400px;
				}
				figure {
					max-width: 320px;
					margin: 0 0 18px;
					@include sm {
						max-width: 540px;
						flex-basis: calc(50% - 20px);
						margin: 10px;
					}
					@include md {
						flex-basis: calc(50% - 30px);
						margin: 15px;
					}
					@include lg {
						flex-basis: calc(50% - 40px);
						margin: 20px;
					}
					@include xxxl {
						flex-basis: calc(25% - 40px);
						margin: 0 20px;
					}
				}
				& + .cb-pdp-options {
					margin-top: 16px;
					@include sm {
						margin-top: 20px;
					}
					@include md {
						margin-top: 30px;
					}
					@include lg {
						margin-top: 40px;
					}
				}
			}
		}
		&.trio {
			@include sm {
				width: calc(100% + 20px);
				margin-left: -10px;
				justify-content: center;
			}
			@include lg {
				width: calc(100% + 30px);
				margin-left: -15px;
			}
			figure {
				margin-bottom: 20px;
				max-width: 320px;
				@include sm {
					flex-basis: calc(33.333333% - 20px);
					margin: 0 10px;
				}
				@include lg {
					flex-basis: calc(33.333333% - 30px);
					margin: 0 15px;
				}
			}
		}
		&.quartet {
			width: calc(100% + 16px);
			margin-left: -8px;
			flex-direction: row;
			flex-wrap: wrap;
			@include sm {
				width: calc(100% + 20px);
				margin-left: -10px;
			}
			@include lg {
				width: calc(100% + 30px);
				margin-left: -15px;
			}
			figure {
				flex-basis: calc(50% - 16px);
				margin: 0 8px 18px;
				@include sm {
					flex-basis: calc(25% - 20px);
					margin: 0 10px;
				}
				@include lg {
					flex-basis: calc(25% - 30px);
					margin: 0 15px;
				}
			}
		}
		&.cb-plus-partners {
			margin-top: 18px;
			position: relative;
			width: calc(100% + 12px);
			margin-left: -6px;
			flex-direction: row;
			@include sm {
				width: calc(166.666666% + 34px);
				margin-left: calc(-33.333333% - 17px);
				margin-top: 36px;
			}
			@include md {
				margin-top: 60px;
				width: calc(166.666666% + 50px);
    		margin-left: calc(-33.333333% - 25px);
			}
			@media (min-width: 1500px) {
				width: calc(166.666666% + 50px);
    		margin-left: calc(-33.333333% - 25px);
			}
			@include xs {
				flex-wrap: wrap;
			}
			figure {
				flex-basis: calc(50% - 12px);
				margin: 0 6px;
				margin-bottom: 14px;
				flex-grow: 0;
				flex-shrink: 0;
				@include sm {
					flex-basis: calc(20% - 20px);
					margin: 0 10px;
					&:first-child, &:last-child {
						visibility: hidden;
					}
				}
				@include md {
					flex-basis: calc(20% - 30px);
					margin: 0 15px;
				}
				@media (min-width: 1500px) {
					flex-basis: calc(20% - 30px);
					margin: 0 15px;
					&:first-child, &:last-child {
						visibility: visible;
					}
				}
				@include xs {
					&:last-child {
						display: none;
					}
				}
			}
			&:before, &:after {
				content: "";
				display: block;
				height: calc(100% + 50px);
				width: 800px;
				//background: linear-gradient(to right,#f1f1f1,#f1f1f1,transparentize(#f1f1f1, .3),transparentize(#f1f1f1, .5),transparentize(#f1f1f1, .7),transparentize(#f1f1f1, .9),transparentize(#f1f1f1, .95),transparentize(#f1f1f1, 1));
				background: linear-gradient(to right,#f1f1f1,#f1f1f1,transparentize(#f1f1f1, 1),transparentize(#f1f1f1, 1),transparentize(#f1f1f1, 1));
				position: absolute;
				left: -170px;
				top: -25px;
				display: none;
				@media (min-width: 1500px) {
					display: block;
				}
			}
			&:after {
				//background: linear-gradient(to right,transparentize(#f1f1f1, 1),transparentize(#f1f1f1, .95),transparentize(#f1f1f1, .9),transparentize(#f1f1f1, .7),transparentize(#f1f1f1, .5),transparentize(#f1f1f1, .3),#f1f1f1,#f1f1f1);
				background: linear-gradient(to right,transparentize(#f1f1f1, 1),transparentize(#f1f1f1, 1),transparentize(#f1f1f1, 1),#f1f1f1,#f1f1f1);
				left: auto;
				right: -170px;
			}
		}
		&.cb-plus-stores {
			margin-top: 18px;
			position: relative;
			width: calc(100% + 12px);
			margin-left: -6px;
			flex-direction: row;
			@include sm {
				width: calc(150% + 34px);
				margin-left: calc(-25% - 17px);
				margin-top: 36px;
			}
			@include md {
				margin-top: 60px;
				width: calc(150% + 50px);
				margin-left: calc(-25% - 25px);
			}
			@media (min-width: 1500px) {
				width: calc(150% + 46px);
				margin-left: calc(-50% - 30px);
			}
			@include xs {
				flex-wrap: wrap;
			}
			figure {
				flex-basis: calc(50% - 12px);
				margin: 0 6px;
				margin-bottom: 14px;
				flex-grow: 0;
				flex-shrink: 0;
				@include sm {
					flex-basis: calc(16.666666% - 20px);
					margin: 0 10px;
					&:first-child, &:last-child {
						visibility: hidden;
					}
				}
				@include md {
					flex-basis: calc(16.666666% - 30px);
					margin: 0 15px;
					&:first-child, &:last-child {
						visibility: visible;
					}
				}
				@media (min-width: 1500px) {
					flex-basis: calc(16.666666% - 30px);
					margin: 0 15px;
					&:first-child, &:last-child {
						visibility: visible;
					}
				}
			}
			& + .cb-plus-stores {
				margin-top: 0;
				@include sm {
					margin-top: 20px;
				}
				@include md {
					margin-top: 30px;
				}
			}
		}
		&.cb-plus-page {
			margin-top: 56px;
			@include sm {
				margin-top: 90px;
			}
			@include lg {
				margin-top: 120px;
			}
			.top-part {
				position: relative;
				@include sm {
					flex-basis: 50%;
					padding-right: 10px;
				}
				@include md {
					padding-right: 15px;
				}
				@include lg {
					padding-right: 20px;
				}
				&:after {
					content: "";
					display: none;
					height: 220px;
					width: calc(100% + 30px);
					background: linear-gradient(transparentize(#f1f1f1, 1),transparentize(#f1f1f1, 1),transparentize(#f1f1f1, 1),#f1f1f1,#f1f1f1);
					position: absolute;
					left: -25px;
					bottom: -35px;
					@include sm {
						display: block;
					}
				}
			}
			.bottom-part {
				position: relative;
				@include sm {
					flex-basis: 50%;
					padding-left: 10px;
				}
				@include md {
					padding-left: 15px;
				}
				@include lg {
					padding-left: 20px;
				}
				&:after {
					content: "";
					display: none;
					height: 220px;
					width: calc(100% + 30px);
					background: linear-gradient(#f1f1f1,#f1f1f1,transparentize(#f1f1f1, 1),transparentize(#f1f1f1, 1),transparentize(#f1f1f1, 1));
					position: absolute;
					left: -5px;
					top: -35px;
					@include sm {
						display: block;
					}
				}
			}
		}
		& + figure, & + .arrangement, & + article {
			margin-top: 50px;
			@include sm {
				margin-top: 72px;
			}
			@include md {
				margin-top: 100px;
			}
		}
	}
	.hidden-xs {
		& + figure, & + .arrangement, & + article {
			@include xs {
				margin-top: 22px;
			}
		}
	}
	h5 {
		font-family: $font-nav;
		margin-top: 16px;
		font-size: 10px;
		position: relative;
		@include sm {
			padding: 0 10px;
			font-size: 11px;
			text-align: right;
		}
		&:before {
			content: "";
			display: block;
			height: 1px;
			width: calc(100% - 20px);
			background: #e8e8e8;
			position: absolute;
			top: 50%;
			margin-top: 0px;
			right: 0;
			@include sm {
				right: 10px;
			}
		}
		span {
			background: white;
			padding-right: 10px;
			position: relative;
			@include sm {
				padding-right: 0;
				padding-left: 14px;
			}
		}
		em {
			letter-spacing: normal;
			text-transform: none;
		}
	}
}
.study-intro {
	padding: 40px 0 100px;
	@include background;
	@include sm {
		padding: 100px 0 500px;
	}
	@include lg {
		padding: 200px 0 700px;
	}
	.content {
		padding: 0 20px;
		@include sm {
			width: 50%;
			padding-left: 80px;
		}
		@include lg {
			width: 33.3333%;
			padding-left: 80px;
		}
		h2 {
			font-size: 24px;
			margin-bottom: 32px;
			@include sm {
				font-size: 30px;
			}
			@include lg {
				font-size: 40px;
			}
		}
	}
}
.study {
	.middle {
		.content {
			max-width: 666px;
			padding: 0 20px;
			margin: 0 auto;
			text-align: center;
			h3 {
				font-size: 20px;
				margin-bottom: 30px;
				@include sm {
					font-size: 28px;
				}
			}
		}
	}
	.righty {
		@include sm {
			display: flex;
			flex-direction: row-reverse;
		}
		.content {
			padding: 0 20px;
			@include sm {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				//flex: 1;
				width: 46%;
				//float: right;
				padding-right: 40px;
				padding-left: 40px;
			}
			@include lg {
				width: 37%;
				padding-right: 120px;
			}
			h3 {
				font-size: 20px;
				margin-bottom: 30px;
				@include sm {
					font-size: 28px;
				}
			}
		}
		figure {
			@include sm {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				flex: 1;
				width: 54%;
				//float: left;
			}
			@include lg {
				width: 63%;
			}
		}
	}
	.lefty {
		display: flex;
		.content {
			padding: 0 20px;
			@include sm {
				width: 46%;
				float: left;
				padding-left: 80px;
			}
			@include lg {
				width: 37%;
				padding-left: 120px;
			}
			h3 {
				font-size: 20px;
				margin-bottom: 30px;
				@include sm {
					font-size: 28px;
				}
			}
		}
		figure {
			@include sm {
				width: 54%;
				float: right;
			}
			@include lg {
				width: 63%;
			}
		}
	}
	section {
		@include clearfix;
		padding: 20px 0;
		@include sm {
			padding: 120px 0;
		}
		@include lg {
			padding: 200px 0;
		}
	}
}
.owner {
	figure {
		background: #f6f6f6;
		padding: 12px;
		margin-bottom: 16px;
	}
	label {
		font-size: 11px;
		text-transform: uppercase;
		font-family: $font-nav;
		margin-bottom: 6px;
		font-weight: 300;
	}
}
