.single {
	@include sm {
		padding-right: 52px;
		padding-top: 24px;
	}
	@include md {
		padding-right: 56px;
		padding-top: 42px;
	}
	&.project {
		@include sm {
			padding-right: 0;
		}
		@include xl {
			padding-right: 10px;
		}
	}
	&.study {
		padding: 0 0 60px;
		@include sm {
			padding: 0 0 60px;
		}
		@include md {
			padding: 0 0 60px;
		}
		@include xl {
			padding: 0 0 60px;
		}
	}
	&.contact-form {
		@include sm {
			padding-right: 0;
		}
		@include md {
			padding-right: 0;
		}
	}
}
.project-intro {
	overflow: hidden;
	margin-bottom: 30px;
	font-size: 14px;
	height: 100%;
	@include sm {
		margin-bottom: 0;
		width: 180px;
		position: absolute;
		left: 38px;
	}
	@include md {
		width: 220px;
	}
	@include lg {
		width: 260px;
	}
	@include xl {
		width: 290px;
		left: 60px;
	}
	@include xxl {
		height: calc(100% - 120px);
	}
	.floater {
		@include sm {
			position: fixed;
			width: 180px;
		}
		@include md {
			width: 220px;
		}
		@include lg {
			width: 260px;
		}
		@include xl {
			width: 290px;	
		}
	}
	h2 {
		text-align: left;
		margin-top: 0;
		max-width: 100%;
		font-family: $font-title;
		font-weight: 700;
		font-size: 20px;
		margin-bottom: 30px;
		@include sm {
			font-size: 20px;
			margin-bottom: 42px;
		}
		i {
			font-size: 16px;
			color: transparentize($text-light, .6);
			margin-left: 6px;
			font-weight: 400;
			@include sm {
				font-size: 16px;
			}
		}
	}
	p {
		font-size: inherit; 
	}
	time {
		//font-style: italic;
		font-family: $font-title;
		font-weight: 400;
		color: transparentize($text-light, .2);
	}
	a {
		font-weight: 400;
		color: #111;
		border-bottom: $border-style;
	}
	ul {
		list-style: none;
		padding: 0;
		margin-top: 40px;
		li {
			line-height: 1.7;
			padding: 4px 0;
		}
	}
}
.project-content {
	margin-bottom: 60px;
	@include sm {
		margin-left: 220px;
	}
	@include md {
		margin-left: 260px;
	}
	@include lg {
		margin-left: 300px;
	}
	@include xl {
		margin-left: 360px;
	}
	.feature {
		text-align: center;
		margin-bottom: 10px;
		img {
			width: 100%;
		}
	}
	.images {
		@include clearfix();
	    margin: 0 auto 20px;
	    @include sm {
	    	margin: 0 -10px 40px;
	    }
		p {
			margin: 0;
			@include sm {
				margin: 0;
			}
		}
		img {
			@include sm {
				border: 10px solid white;
			}
		}	
		.half {
			@include sm {
				width: 50%;
				float: left;
			}
		}	
		.third {
			@include sm {
				width: 50%;
				float: left;
			}
			@include lg {
				width: 33.333333%;
			}
		}
	}
}
.study-intro {
	padding: 40px 0 100px;
	@include background;
	@include sm {
		padding: 100px 0 500px;
	}
	@include lg {
		padding: 200px 0 700px;
	}
	.content {
		padding: 0 20px;
		@include sm {
			width: 50%;
			padding-left: 80px;
		}
		@include lg {
			width: 33.3333%;
			padding-left: 80px;
		}
		h2 {
			font-size: 24px;
			margin-bottom: 32px;
			@include sm {
				font-size: 30px;
			}
			@include lg {
				font-size: 40px;
			}
		}
	}
}
.study {
	.middle {
		.content {
			max-width: 666px;
			padding: 0 20px;
			margin: 0 auto;
			text-align: center;
			h3 {
				font-size: 20px;
				margin-bottom: 30px;
				@include sm {
					font-size: 28px;
				}
			}
		}
	}
	.righty {
		@include sm {
			display: flex;
			flex-direction: row-reverse;
		}
		.content {
			padding: 0 20px;
			@include sm {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				//flex: 1;
				width: 46%;
				//float: right;
				padding-right: 40px;
				padding-left: 40px;
			}
			@include lg {
				width: 37%;
				padding-right: 120px;
			}
			h3 {
				font-size: 20px;
				margin-bottom: 30px;
				@include sm {
					font-size: 28px;
				}
			}
		}
		figure {
			@include sm {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				flex: 1;
				width: 54%;
				//float: left;
			}
			@include lg {
				width: 63%;
			}
		}
	}
	.lefty {
		display: flex;
		.content {
			padding: 0 20px;
			@include sm {
				width: 46%;
				float: left;
				padding-left: 80px;
			}
			@include lg {
				width: 37%;
				padding-left: 120px;
			}
			h3 {
				font-size: 20px;
				margin-bottom: 30px;
				@include sm {
					font-size: 28px;
				}
			}
		}
		figure {
			@include sm {
				width: 54%;
				float: right;
			}
			@include lg {
				width: 63%;
			}
		}
	}
	section {
		@include clearfix;
		padding: 20px 0;
		@include sm {
			padding: 120px 0;
		}
		@include lg {
			padding: 200px 0;
		}
	}
}
.owner {
	figure {	
		background: #f6f6f6;
		padding: 12px;
		margin-bottom: 16px;
	}
	label {
		font-size: 11px;
		text-transform: uppercase;
		font-family: $font-nav;
		margin-bottom: 6px;
		font-weight: 300;
	}
}