.profile {
	/*
	padding: 20px 0 0;
	box-shadow: 0 1px  0 0 transparentize(black, .94) inset;
	@include sm {
		padding-top: 18px;
	}
	@include md {
		padding-top: 20px;
	}
	@include lg {
		padding-top: 24px;
	}
	*/
	padding: 20px 0 120px;
	@include sm {
		padding-top: 30px;
		//padding-right: 52px;
	}
	@include md {
		//padding-right: 56px;
		//padding-top: 100px;
	}
	> .container {
		//display: flex;
		//flex-direction: column-reverse;
		//padding: 0;
		@include sm {
			//flex-direction: row;
		}
	}
	.profile-wrapper {
		display: flex;
		flex-direction: column-reverse;
		//padding: 0;
		@include sm {
			flex-direction: row;
		}
	}
	.feature {
		width: 100%;
		height: 0;
		padding-bottom: 48%;
		position: relative;
		@include xs {
			display: none;
		}
		.image {
			@include background;
			width: 100%;
			height: 0;
			padding-bottom: 48%;
			position: relative;
		}
		img {
			width: 100%;
			height: 100%;
			visibility: hidden;
			opacity: 0;
		}
		.mark {
			width: 60%;
			height: 0;
			position: absolute;
			top: -4.5%;
			left: 0;
			padding-top: 60%;
			span {
				display: block;
				position: absolute;
				height: 1px;
				width: 100%;
				background: transparentize(#cdcdcd, 0);
				&.top-bar {
					top: 0;
					left: 0;
				}
				&.bottom-bar {
					bottom: 0;
					left: 0;
				}
				&.cross-bar-a {
					top: 50%;
					transform: rotate(45deg);
					width: 141%;
					left: -20.5%;
				}
				&.cross-bar-b {
					top: 50%;
					transform: rotate(-45deg);
					width: 141%;
					left: -20.5%;
				}
			}
			&.front {
				span {
					background: transparentize(#cdcdcd, .7);
				}
			}
		}
	}
	.sidebar {
		font-size: 15px;
		margin-bottom: 40px;
		flex-basis: 100%;
		@include sm {
			flex-basis: 25%;
			margin-bottom: 20px;
			padding-right: 40px;
			font-size: 13px;
		}
		@include md {
			font-size: 14px;
		}
		.title {
			font-size: 12px;
			font-weight: 700;
			margin: 0 0 20px;
			@include sm {
				font-size: 18px;
			}
			@include md {
				font-size: 20px;
			}
			@include lg {
				font-size: 24px;
			}
			i {
				display: block;
				color: lighten($text-light, 20%);
				font-weight: 400;
				font-size: 11px;
				margin-top: 3px;
				@include sm {
					font-size: 12px;
					margin-top: 4px;
				}
				@include md {
					font-size: 14px;
					margin-top: 5px;
				}
				@include lg {
					font-size: 15px;
					margin-top: 6px;
				}
			}
		}
		p {
			font-size: inherit;
		}
	}
	aside {
		@include make-md-column(4);
		max-width: 666px;
		margin: 0 auto;
		@include md {
			max-width: 100%;
			padding-left: 30px;
		}
		@include lg {
			padding-left: 40px;
		}
		@include xl {
			padding-left: 50px;
		}
		h2,h3,h4 {
			margin: 0 0 28px;
			font-weight: 700;
		}
		h2 {
			font-size: 20px;
			@include sm {
				font-size: 20px;
			}
			&:first-child {
				margin-top: 0;
			}
		}
		h3 {
			font-size: 18px;
			@include sm {
				font-size: 18px;
			}
			&:first-child {
				margin-top: 0;
			}
		}
		h4 {
			font-size: 14px;
			@include sm {
				font-size: 13px;
			}
			@include md {
				font-size: 15px;
			}
			&:first-child {
				margin-top: 0;
			}
		}
		a {
			color: #111;
			font-weight: 600;
			border-bottom: $border-style;
		}
		ul, ol {
			margin: 20px 0 26px;
			list-style: none;
			padding: 0;
			li {
				line-height: 1.5;
				padding: 4px 0;
			}
		}
		p {
			font-size: inherit;
		}
	}
	.row {
		display: flex;
		flex-direction: column;
		@include md {
			flex-direction: row;
			width: calc(100% + 30px);
			margin-left: -15px;
		}
		@include lg {
			width: calc(100% + 40px);
			margin-left: -20px;
		}
		@include xl {
			width: calc(100% + 60px);
			margin-left: -30px;
		}
	}
	.text {
		flex-basis: 100%;
		max-width: 666px;
		margin: 0 auto;
		padding: 0;
		@include sm {
			max-width: none;
			flex-basis: 75%;
			margin: 0;
		}
		article {
			float: none;
			width: auto;
			flex-basis: 100%;
			max-width: none;
			@include md {
				flex-basis: 66.666666%;
				width: calc(100% + 30px);
				padding: 0 15px;
			}
			@include lg {
				width: calc(100% + 40px);
				padding: 0 20px;
			}
			@include xl {
				width: calc(100% + 60px);
				padding: 0 30px;
			}
		}
		aside {
			float: none;
			width: auto;
			flex-basis: 100%;
			max-width: none;
			margin: 0;
			@include md {
				flex-basis: 33.333333%;
				width: calc(100% + 30px);
				padding: 0 15px;
			}
			@include lg {
				width: calc(100% + 40px);
				padding: 0 20px;
			}
			@include xl {
				width: calc(100% + 60px);
				padding: 0 30px;
			}
			@include xxl {
				padding: 0 30px;
			}
			.row {
				flex-direction: column;
				@include sm {
					flex-direction: row;
				}
				@include md {
					flex-direction: column;
				}
			}
			section {
				flex-basis: 100%;
				margin-bottom: 20px;
				@include sm {
					flex-basis: 50%;
					padding: 0 12px;
				}
				@include md {
					flex-basis: 100%;
					padding: 0 15px;
					margin-bottom: 30px;
				}
				@include lg {
					padding: 0 20px;
				}
				@include xl {
					padding: 0 25px;
				}
				@include xxl {
					padding: 0 25px;
				}
			}
			ul li {
				font-size: 13px;
				@include sm {
					font-size: 13px;
				}
			}
		}
	}
}
