    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="social">
                    <ul>
                        <li><a href="https://twitter.com/kyleruane"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.instagram.com/kyleruane/"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="https://dribbble.com/kyleruane"><i class="fa fa-dribbble"></i></a></li>
                    </ul>
                </div>
                <div class="copyright">
                    <p>© Kyle Ruane</p>
                </div>
            </div>
        </div>
    </footer>

  </div> <!-- closes site-wrapper -->

<!-- JS -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-28248612-1', 'auto');
  ga('send', 'pageview');

</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/custom.modernizr.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/bootstrap.lightbox.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/jasny-bootstrap.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/formstone.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/jquery.fitvids.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/imagesloaded.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/masonry.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/gray.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/plain.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/theme.js"></script>

</body>
</html>