<div class="site-wrapper">

    <!-- HEADER -->
    <header class="site-header">
        <div class="header-wrap">

            <!-- Logo -->
            <a id="logo" class="logo" href="/">
                <span class="top-bar"></span>
                <span class="cross-bar-a"></span>
                <span class="cross-bar-b"></span>
                <span class="bottom-bar"></span>
                <span class="sr-only">Kyle Ruane</span>
            </a>
            
            <!-- Main Navigation -->
            <nav class="main-nav">
                <ul>
                    <li><a href="/">Work</a></li>
                    <li><a href="/profile">Profile</a></li>
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="/hire">Hire</a></li>
                </ul>
            </nav>

        </div>

        <!-- Mobile Menu  -->
        <div class="mobile-menu">
            <a id="logo" class="logo" href="#">
                <span class="top-bar"></span>
                <span class="cross-bar-a"></span>
                <span class="cross-bar-b"></span>
                <span class="bottom-bar"></span>
                <span class="sr-only">Kyle Ruane</span>
            </a>
        </div>
        <!-- Hamburger Button -->
        <a href="#" class="nav-toggle" id="nav-toggle">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>

    </header>