<header class="site-header">
  <div class="site-wrapper">
    <a href="/" class="back">Back</a>
    <div class="branding">
      <div class="social">
          <ul>
              <li><a href="https://twitter.com/kyleruane"><i class="fa fa-twitter"></i></a></li>
              <li><a href="https://dribbble.com/kyleruane"><i class="fa fa-dribbble"></i></a></li>
              <li><a href="https://www.instagram.com/kyleruane/"><i class="fa fa-instagram"></i></a></li>
              <li><a href="https://www.linkedin.com/in/kyleruane/"><i class="fa fa-linkedin"></i></a></li>
          </ul>
      </div>
      <h2><a href="/">Kyle Ruane</a></h2>
    </div>
  </div>
</header>
