<div class="site-wrapper">

    <!-- HEADER -->
    <header class="site-header">
        <!--<a id="logo" class="logo" href="/"></a>-->
        <div class="header-wrap">

            <!-- Logo -->
            <div class="branding">
              <a id="logo" class="logo" href="/"></a>
              <!--
              <h1>Kyle Ruane</h1>
              <div class="social">
                  <ul>
                      <li><a href="https://twitter.com/kyleruane"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="https://www.instagram.com/kyleruane/"><i class="fa fa-instagram"></i></a></li>
                      <li><a href="https://dribbble.com/kyleruane"><i class="fa fa-dribbble"></i></a></li>
                      <li><a href="https://open.spotify.com/user/kruane142"><i class="fa fa-spotify"></i></a></li>
                  </ul>
              </div>
              -->
            </div>

            <!-- Main Navigation -->
            <nav class="main-nav">
                <ul>
                    <li>
                      <a href="/">
                        <h5><span>Work</span></h5>
                        <p>Maecenas faucibus mollis interdum consectetur purus sit amet fermentum.</p>
                      </a>
                    </li>
                    <!--
                    <li>
                      <a href="/">
                        <h5><span>Marks</span></h5>
                        <p>Maecenas faucibus mollis interdum consectetur purus sit amet fermentum.</p>
                      </a>
                    </li>
                    <li>
                      <a href="/">
                        <h5><span>The Vault</span></h5>
                        <p>Maecenas faucibus mollis interdum consectetur purus sit amet fermentum.</p>
                      </a>
                    </li>
                    -->
                    <li>
                      <a href="/profile">
                        <h5><span>Profile</span></h5>
                        <p>Maecenas faucibus mollis interdum consectetur purus sit amet fermentum.</p>
                      </a>
                    </li>
                    <li>
                      <a href="/">
                        <h5><span>In Progress</span></h5>
                        <p>Maecenas faucibus mollis interdum consectetur purus sit amet fermentum.</p>
                      </a>
                    </li>
                    <li>
                      <a href="/blog">
                        <h5><span>Blog</span></h5>
                        <p>Maecenas faucibus mollis interdum consectetur purus sit amet fermentum.</p>
                      </a>
                    </li>
                    <li>
                      <a href="/hire">
                        <h5><span>Hire</span></h5>
                        <p>Maecenas faucibus mollis interdum consectetur purus sit amet fermentum.</p>
                      </a>
                    </li>
                    <li>
                      <a href="/">
                        <h5><span>Shop</span></h5>
                        <p>Maecenas faucibus mollis interdum consectetur purus sit amet fermentum.</p>
                      </a>
                    </li>
                    <!--<li><a href="/hire">Hire</a></li>-->
                </ul>
            </nav>

        </div>


        <!-- Mobile Menu  -->
        <div class="mobile-menu">
            <a id="logo" class="logo" href="#">
              <!--
                <span class="top-bar"></span>
                <span class="cross-bar-a"></span>
                <span class="cross-bar-b"></span>
                <span class="bottom-bar"></span>
              -->
                <span class="sr-only">Kyle Ruane</span>
            </a>
        </div>
        <!-- Hamburger Button -->
        <a href="#" class="nav-toggle" id="nav-toggle">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>

    </header>
