// Theme Styles & Bootstrap Mods

@import "theme/fonts";
@import "theme/variables";

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
html,
button,
input,
select,
textarea {
    color: $text-color;
}
body {
    line-height: 1.7;
}
// Remove text-shadow in selection highlight: h5bp.com/i
::-moz-selection {
    background: #d6e8f5;
    color: $text-color;
    text-shadow: none;
}
::selection {
    background: #d6e8f5;
    color: $text-color;
    text-shadow: none;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid $border-color;
    margin: 1em 0;
    padding: 0;
}
img {
    max-width: 100%;
    height: auto;
}

// General styles

html,
body {
    height: 100%;
}
body {
    font-family: $font-copy;
    font-weight: 400;
    font-size: 15px;
    color: $text-color;
    @include sm {
        font-size: 16px;
    }
}
.container {
    max-width: 100%;
    padding: 0 20px;
    @include sm {
        padding: 0 36px;
    }
    @include md {
        padding: 0 48px;
    }
}


/* Titles */

h1, h2, h3, h4, h5, h6 {
    font-family: $font-title;
    font-weight: 500;
    letter-spacing: normal;
    color: #222;
    line-height: 1.2;
    //text-transform: uppercase;
    //letter-spacing: 1px;
    //letter-spacing: -.5px;
    @include sm {
      //letter-spacing: 1.75px;
    }
    @include md {
      //letter-spacing: 2px;
    }
    @include lg {
      //letter-spacing: 2.25px;
    }
    a {
        color: $text-color;
    }
    .subtitle {
        display: block;
        font-size: 16px;
        opacity: 0.8;
        font-weight: 300;
        margin-top: 10px;
        @media (max-width: 767px) {
            font-size: 14px;
        }
    }
}

/* Paragraph & Typographic */

p {
    margin-bottom: 25px;
    font-size: 14px;
    @include sm {
        font-size: 16px;
    }
}
strong {
    font-weight: 700;
}
em {
    font-weight: 300;
}
pre {
    background: $text-light;
    border: none;
    font-family: "Monaco";
    font-size: 13px;
    color: $gray-bg;
    padding: 24px;
    border-radius: 0;
    margin: 40px 0;
    .commented {
        color: #ddd;
    }
}
code {
    color: darken($text-color, 5%);
    white-space: normal;
}
small {
    font-size: 12px;
}
blockquote,
blockquote p {
    font-weight: 300;
    font-style: italic;
}
blockquote {
    position: relative;
    margin: 0 0 40px -30px;
    padding-left: 30px;
    border-left: 5px solid #3498db;
}
blockquote cite {
    position: absolute;
    bottom: -25px;
    right: 0;
    font-size: 12px;
    font-style: italic;
    color: #333;
    font-weight: 300;
}
blockquote cite:before {
    content: "-- "
}
.panel {
    border-radius: 0;
    border: none;
}

/* Links */

a {
    color: $text-color;
    word-wrap: break-word;
    transition: all .2s;
}
a:hover,
a:focus {
    color: lighten($text-color, 10%);
    text-decoration: none;
    outline: 0;
}
a:before,
a:after {
    transition: all .1s ease-in;
}

@import "theme/global";
@import "theme/header";
@import "theme/footer";
@import "theme/intro";
@import "theme/hire";
@import "theme/grid";
@import "theme/project";
@import "theme/blog";
@import "theme/form";
