{% include head.html %}
{% include header_bar.html %}

    <div class="placeholder project"></div>

	<main class="single project">
		<div class="container">
			
			<section class="project-intro">
				<div class="floater">
					<h2>{{ page.title }}</h2>
		  			<div>
			  			{{ page.description }}
			  		</div>
			  	</div>
			</section>

			<section class="project-content">
				<div class="feature">
			  		<img src="{{site.project_img_path}}{{ page.feature }}">
			  	</div>
			  	<div class="images">
				    {{ content }}
				</div>
			</section>

		</div>
	</main>

	{% include footer.html %}
</body>
</html>